[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "*"
django = "*"
python-dotenv = "*"
django-ninja = "*"
dj-database-url = "*"
django-environ = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12.5"
